<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <title>Change Password</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <div class="title-body">
            <h3>Change Password</h3>
        </div>
        <form action="/change-password" method="post">
            <% if(message.length> 0) { %>
                <div class="alert alert-profile">
                    <%- include('partials/alert.ejs') %>
                </div>
                <% } %>
                    <section>
                        <div class="container profile">
                            <label for="uPassword"><b>Password present</b></label>
                            <input type="password" name="uPassword" required>

                            <label for="uNewPassword"><b>New password</b></label>
                            <input type="password" name="uNewPassword" required>

                            <label for="uConfirmPassword"><b>Confirm password</b></label>
                            <input type="password" name="uConfirmPassword" required>

                            <button type="submit">Complete</button>
                        </div>
                    </section>
        </form>
</body>
<%- include('partials/footer.ejs') %>

</html>