<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_flash_message.css">
    <title>Register</title>
</head>

<body>
    <div class="title-body">
        <h3>Register Saving Book</h3>
    </div>
    <form action="/register" method="post">
        <%- include('partials/alert.ejs') %>
            <div class="container">
                <label for="uPhone"><b>Phone</b></label>
                <input type="number" placeholder="Enter Phone Number" name="uPhone" required>

                <label for="uPassword"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="uPassword" required>

                <label for="uConfirmPassword"><b>Confirm Password</b></label>
                <input type="password" placeholder="Enter Confirm Password" name="uConfirmPassword" required>

                <button type="submit">Register</button>
            </div>
    </form>
    <form action="/login" method="get">
        <div class="container">
            <button type="submit" class="cancelbtn">Back</button>
        </div>
    </form>

</body>

</html>