<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <title>Rule Saving Book</title>
</head>

<body>
    <header>
        <%- include('partials/sidebar.ejs') %>
    </header>
    <div class="title-body">
        <h3>Rule Saving Book</h3>
    </div>
    <div class="container">
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>
<%- include('partials/footer.ejs') %>

</html>