<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_Welcome.css">
    <title>Welcome</title>
</head>

<body>
    <form action="/welcome" method="post">
        <h1 class="h1Welcome">Welcome <%=getUser.lastName%>
        </h1>
        <div class="containerWelcome">
            <label for="svMoney"><b>Input Money</b></label>
            <input type="number" placeholder="Enter Money" name="svMoney" required>
            <input type="text" name="userID" value="<%=getUser.id%>" hidden>
            <button type="submit" class="btnSvConfirm">Confirm</button>
        </div>
    </form>

</body>

</html>