<html lang="en">

<%- include('welcome/head.ejs') %>

    <body>
        <form action="/welcome" method="post">
            <div class="title-body">
                <h3>Welcome <%=getUser.lastName%>
                </h3>
            </div>
            <div class="containerWelcome">
                <%- include('partials/alert.ejs') %>
                    <label for="svMoney"><b>Balance Income:</b></label>
                    <input type="text" name="svMoney" id="svMoney" data-type="currency" placeholder="Enter Money">

                    <input type="text" name="userID" value="<%=getUser.id%>" hidden>
                    <button type="submit" class="btnSvConfirm">Confirm</button>
            </div>
        </form>
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/currency.js"></script>
    </body>

</html>