@font-face {
  font-family: "ShopeeDisplay-ExtraBold";
  src: url("/fonts/Shopee Font Full VH/ShopeeDisplay-ExtraBold.ttf");
}
@font-face {
  font-family: "ShopeeDisplay-Black";
  src: url("/fonts/Shopee Font Full VH/ShopeeDisplay-Black.ttf");
}
body {
  background-color: #ffffff;
}
form {
  /* border: 3px solid #f1f1f1; */
  width: 30%;
  padding-left: 36%;
  text-align: center;
}

/* Full-width inputs */
input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Set a style for all buttons */
button {
  font-size: 110%;
  background-color: #60c5a8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: "ShopeeDisplay-Black";
}

/* Add a hover effect for buttons */
button:hover {
  background-color: #0d9b73;
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.title-body {
  margin: 2.5rem;
  text-align: center;
  padding-left: 27%;
}

.title-body h3 {
  background-color: #60c5a8;
  padding-bottom: 2rem;
  border: 1.5rem outset #60c5a8;
  width: 60%;
  border-radius: 15%;
  font-family: "ShopeeDisplay-Black";
  color: #ffffff;
  font-size: 3rem;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

/* Add padding to containers */
.container {
  padding: 16px;
  font-family: "ShopeeDisplay-Black";
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
