<footer class="hero">
  <div class="container flex">
    <div class="container__about">
      <h2>About</h2>
      <p>
        Saving provides a financial “backstop” for life's uncertainties and
        increases feelings of security and peace of mind. Once an adequate
        emergency fund is established, savings can also provide the “seed money”
        for higher-yielding investments such as stocks, bonds, and mutual funds.
      </p>
    </div>
    <div class="container-pages flex">
      <div class="container__recentpages">
        <h2>Contract</h2>
        <p>Contract with KenShine</p>
      </div>
    </div>
  </div>
  <div class="line__separete"></div>
  <div class="by flex">
    <p>Copyright © 2022 All Rights Reserved by KenShine.</p>
    <div class="icons">
      <a href="https://www.instagram.com/<%=instagramName%>/" target="_blank" class="icon1 icon--instagram">
        <i class="ri-instagram-line"></i>
      </a>
      <a href="https://www.facebook.com/profile.php?id=<%=facebookID%>" target="_blank" class="icon1 icon--facebook">
        <i class="ri-facebook-line"></i>
      </a>
      <a href="https://www.youtube.com/channel/<%=youtubeChannel%>" target="_blank" class="icon1 icon--youtube">
        <i class="ri-youtube-line"></i>
      </a>
      <a href="https://github.com/<%=projectGithub%>" target="_blank" class="icon1 icon--github">
        <i class="ri-github-line"></i>
      </a>
    </div>
  </div>
</footer>