<div class="nav-menu">
    <ul>
        <li class="active">
            <form action="/" method="get">
                <a href="#">
                    <span class="icon-home mr-3"></span>
                    <button class="form_nav" type="submit">Dashboard</button>
                </a>
            </form>
        </li>
        <li>
            <form action="/logout" method="get">
                <a>
                    <span class="icon-sign-out mr-3"></span>
                    <button type="submit" class="form_nav">Log out</button>
                </a>
            </form>
        </li>
    </ul>
</div>